$col-black-chestnut-oak: #272421;
$col-black-chestnut-oak-rgb: hex-to-rgb($col-black-chestnut-oak);

$col-love-red: #ff4374;
$col-love-red-rgb: hex-to-rgb($col-love-red);

$col-hornet-sting: #ff0033;
$col-hornet-sting-rgb: hex-to-rgb($col-hornet-sting);

$col-bubbelgum-heart: #ffbde1;
$col-bubbelgum-heart-rgb: hex-to-rgb($col-bubbelgum-heart);
