<div class='sign-up-bonuses__bonus-text-row'>
  <p class='sign-up-bonuses__bonus-text-title'>Bônus de até</p>
  <p class='sign-up-bonuses__bonus-text-accent'>R$ 4000!</p>
  <p class='sign-up-bonuses__bonus-text-second'>+ 250 Giros Grátis</p>
</div>